<template>
  <div id="app" class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <md-button
          class="md-icon-button"
          @click="toggleMenu"
          v-if="!menuVisible"
        >
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">Micro Front-end: a simple aproach</span>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible" md-persistent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>
          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-list>
          <md-list-item>
            <md-icon>move_to_inbox</md-icon>
            <span class="md-list-item-text">Inbox</span>
          </md-list-item>

          <md-list-item>
            <md-icon>send</md-icon>
            <span class="md-list-item-text">Sent Mail</span>
          </md-list-item>
          <md-list-item>
            <md-icon>delete</md-icon>
            <span class="md-list-item-text">Trash</span>
          </md-list-item>
          <md-list-item>
            <md-icon>error</md-icon>
            <span class="md-list-item-text">Spam</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>
      <md-app-content>
        <h1 class="md-display-3">What are micro frontends?</h1>
        <p class="md-subheading">
          Micro frontends are basically an extension to a microservices pattern,
          where the functionality is extended to the front-end. As a result,
          micro frontends bring a wide range of advantages, including deployment
          independence, easier testing of features, etc. No wonder that
          micro-frontends are becoming a trend for building web-based
          applications. Some of the business giants, including IKEA and Spotify,
          have already embraced micro frontends. For a better understanding of
          this notion, let’s compare the microservices and micro-frontend
          architecture of a web application.
        </p>
        <p class="md-subheading">
          So, the web application consists of components or features. What’s
          important is that each of these components has its own codebases,
          CI/CD pipelines, and DevOps practices. Also, depending on their size
          or organizational structure, they may be developed by separate teams.
          However, it is still a SPA, which means that teams can distract each
          other while developing their features.
        </p>
        <md-divider></md-divider>
        <h1 class="md-display-1">Total sales by seller</h1>
        <div v-show="loading">
          <span class="md-subheading"
            >Hold on, the child app is being fetched</span
          >
          <img src="./assets/spinner.svg" alt="Loading indicator" />
        </div>
        <!-- Here's where our micro front will be rendered. -->
        <div id="table-app"></div>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {},
  data() {
    return {
      menuVisible: false,
      loading: true,
      authenticationCode: [
        '60213f2d-2f12-4e62-964d-6cc39f7c70af',
        'dc71306e-c012-46c0-ab2e-1569020fbb65',
        '7db8ac82-9970-40b3-9e1d-7ceb78574115',
        'ba803716-9454-48d7-b536-88d4cb41a853',
      ],
      salesData: [
        {
          id: 1,
          sellerName: 'Catherine Biles',
          totalSold: 280900,
        },
        {
          id: 2,
          sellerName: 'Hope Jackie',
          totalSold: 134560,
        },
        {
          id: 3,
          sellerName: 'Edward Lens',
          totalSold: 95780,
        },
      ],
    };
  },
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
    loadMicroFront() {
      return new Promise((resolve, reject) => {
        const tableApp = document.createElement('script');
        tableApp.onload = () => {
          resolve();
        };
        tableApp.onerror = (error) => {
          console.log(error);
          reject(error);
        };
        tableApp.async = true;
        tableApp.src =
          'https://product-photos-bucket.s3.us-east-2.amazonaws.com/table-app.js';
        document.body.appendChild(tableApp);
      });
    },
  },
  async mounted() {
    // Wait until bundle fetch is done.
    await this.loadMicroFront();
    this.loading = false;
    // Send data to micro front via a custom event (in most sophisticated cases, would be better to do that by sending props instead of events).
    document.dispatchEvent(
      new CustomEvent('micro-table-mounted-reply', {
        detail: this.authenticationCode,
      })
    );
  },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');
.md-app {
  height: 100vh;
  border: 1px solid rgba(#000, 0.12);
}
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
</style>
